extends layout

block content
  .row.banner
    .col-12
      h2.text-center Tilføj program
  .row
    .offset-md-4.col-md-4
      form(action="/programs", method="post", role="form")
        .form-group
          label(for="name") Navn
          input#name.form-control(name="name")
        .form-group
            label(for="category") Kategori
            input#name.form-control(name="category")
        button.btn.btn-primary.float-right Tilføj program