extends layout

block content
  .row.banner
    .col-12
      h2.text-center Tilføj øvelse
  .row
    .offset-md-4.col-md-4
      form(action="/exercises", method="post", role="form")
        .form-group
          label(for="name") Navn
          input#name.form-control(name="name")
        .form-group
            label(for="description") Beskrivelse
            input#name.form-control(name="category")
        .form-group
            label(for="isRepitition") Repitionsøvelse
            input#name.form-control(name="isRepitition", type="checkbox")
        .form-group
            label(for="set") Sæt
            input#name.form-control(name="set")
        .form-group
            label(for="reps") Repititioner
            input#name.form-control(name="reps")
        .form-group
            label(for="time") Tid i sekunder
            input#name.form-control(name="time")
        button.btn.btn-primary.float-right Tilføj øvelse