extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-md-8
      form(action="/programs", method="get", role="form")
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="name") Name
          .col-12.col-sm-10
            input#name.form-control(name="name")
        .form-group.row
            label.col-10.col-sm-2.col-form-label(for="description") Description
            .col-sm-10
            input#name.form-control(name="description")
        .form-group.row
          label.col-sm-2.col-form-label(for="repetitions") Repititions
          .col-sm-10
            input#name.form-control(name="repetitions")
        .form-group.row
          label.col-sm-2.col-form-label(for="sets") Sets
          .col-sm-10
            input#name.form-control(name="sets")
        button.btn.btn-primary.float-right Add Exercise
    .col-12.col-md-4